<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%level [%thread] %logger{0} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="io.netty" level="debug"/>
  <logger name="io.vertx" level="debug"/>
  <logger name="org.archimitra.vertx.hello-verticle.core" level="info"/>


  <root level="debug">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>